---
title: "Paul Maltsev - Collection of Gems"
---

<section class="books">
  <h1>Books</h1>
  <ul>
    <% data.books.list.each do |link, name| %>
      <li><a href="<%=link%>" target="_blank"><%=name%></a></li>
    <% end %>
  </ul>
  
  <br>

  <h1>Articles</h1>
  <ul>
    <% data.articles.list.each do |link, name| %>
      <li><a href="<%=link%>" target="_blank"><%=name%></a></li>
    <% end %>
  </ul>
</section>