---
---

<div class="portfolio clearfix">

  <h2 class="headline">Portfolio</h2>

  <a href="https://www.westfield.com/" target="_blank" class="portfolio__item">
    <img src="images/portfolio/westfield.png" alt="Westfield">
    <span class="on-hover">
      <p class="hover__item">
        Front End Development for Westfield website
      </p>
    </span>
  </a>

  <a href="http://www.blurb.com/blog" target="_blank" class="portfolio__item">
    <img src="images/portfolio/blurb.png" alt="Blurb">
    <span class="on-hover">
      <p class="hover__item">
        Blurb blog redesign
      </p>
    </span>
  </a>

  <a href="http://www.oceanmist.com/" target="_blank" class="portfolio__item last">
    <img src="images/portfolio/oceanmist.png" alt="Ocean Mist">
    <span class="on-hover">
      <p class="hover__item">
        Ocean Mist Farms redesign
      </p>
    </span>
  </a>

  <a href="http://healthplans.kp.org/federalemployees" target="_blank" class="portfolio__item">
    <img src="images/portfolio/kp.png" alt="Kaiser Permanente">
    <span class="on-hover">
      <p class="hover__item">
        BackboneJS application for KP
      </p>
    </span>
  </a>

</div>

<div class="open-source clearfix"> 

  <h2 class="headline">Open Source</h2>

  <a href="https://github.com/OpenBazaar/OpenBazaar" target="_blank" class="open-source__item">
    <img src="images/portfolio/openbazaar.png" alt="Open Bazaar">
    <span class="on-hover">
      <p class="hover__item">
        Decentralized marketplace
      </p>
    </span>
  </a>

  <a href="https://github.com/dionyziz/endofcodes" target="_blank" class="open-source__item">
    <img src="images/portfolio/endofcodes.png" alt="End Of Codes">
    <span class="on-hover">
      <p class="hover__item">
        A game for programmers
      </p>
    </span>
  </a>

</div>