---
title: "Paul Maltsev CV"
---

<section class="resume">
  <div class="resume-heading">
    <h2>Paul Maltsev</h2>
    <h3>Front End Developer</h3>
    <h3>Mountain View, CA</h3>
  </div>

  <div class="tech-skills pad-top">
    <h3 class="section-heading">Technical Skills</h3>
    <ul>
      <li class="tech-skills__item">BackboneJS, React, AngularJS, node.js</li>
      <li class="tech-skills__item">Ruby / Rails</li>
      <li class="tech-skills__item">PHP</li>
    </ul>
  </div>

  <div class="pro-experience pad-top">
    <h3 class="section-heading">Professional Experience</h3>
    <ul>
      <li class="pro-experience__item">
        <span>January 2016 - July 2016</span>
        <span><a target="_blank" href="http://www.westfieldlabs.com/">Westfield Labs</a> - Front End</span>
        <ul>
          <li class="pro-experience__sub-item">Built a JS framework that integrates to Google Analytics(through Tealium) for the <a href="https://www.westfield.com/" target="_blank">Westfield</a> main website.</li>
          <li class="pro-experience__sub-item">Worked on the client side creation of <a href="https://www.westfield.com/welcome" target="_blank">Westfield Accounts</a>, building the auth and shopping transaction systems.</li>
        </ul>
      </li>

      <li class="pro-experience__item">
        <span>October 2014 - October 2015</span>
        <span><a target="_blank" href="http://www.zenti.com/">Zenti</a> - Full Stack</span>
        <ul>
          <li class="pro-experience__sub-item">Built the front-end and middle-tier(RoR) aspects of internal & public facing apps. Maintaining a common components styleguide accross all of them.</li>
          <li class="pro-experience__sub-item">Worked with the product team, to construct wireframes as well as design and implement the layout for upcoming features</li>
        </ul>
      </li>

      <li class="pro-experience__item">
        <span>January 2014 - August 2014</span>
        <span><a target="_blank" href="http://propanestudio.com/">PropaneStudio</a> - Web Developer</span>
        <ul>      
          <li class="pro-experience__sub-item">Participated in the development cycles of large scale websites for: <a href="http://www.oceanmist.com/" target="_blank">Ocean Mist</a>, <a href="https://groceryoutlet.com/" target="_blank">Grocery Outlet</a>, <a href="http://www.blurb.com" target="_blank">Blurb</a>, <a href="http://healthreform.kaiserpermanente.org/" target="_blank">Kaiser Permanente</a></li>
          <li class="pro-experience__sub-item">Designed and developed complex client-side BackboneJS applications</li>
          <li class="pro-experience__sub-item">Developed end to end Wordpress themes and plugins</li>
          <li class="pro-experience__sub-item">Successfully created a brochure print application for <a href="http://www.covidien.com/">Covidien</a> written in Ruby</li>
        </ul>
      </li>

      <li class="pro-experience__item">
        <span>January 2011 - November 2013</span>
        <span>Freelance - UI/UX Designer / Developer</span>
        <ul>      
          <li class="pro-experience__sub-item">Built  fully functional corporate websites, including European transportation firms, businesses, students, voluntary organizations and more</li>
          <li class="pro-experience__sub-item">Crafted UI/UX elements to create a seamless customer experience for a high traffic e-commerce website through desktop, mobile and smartphone app interfaces</li>
          <li class="pro-experience__sub-item">Contacted clients directly and elaborated on various subjects regarding SEO & Contextual Targeting, Demographic Segmentation</li>
        </ul>
      </li>
    </ul>
  </div>
</section>